#####=== Elements ===#####

# Building area
/build
/build.*

# Install area
/InstallArea

# CT_CheckQuality artifacts
/.sonar
/PAQA
/.scannerwork

#####=== System ===#####

# SVN
.svn/

# Apple
*.DS_Store

*~
#####=== Editors ===#####

## Eclipse
/.metadata
/.settings
/.loadpath
/.recommenders

# Eclipse Core
/.project

# External tool builders
/.externalToolBuilders

# PyDev specific (Python IDE for Eclipse)
/.pydevproject

# CDT-specific (C/C++ Development Tooling)
/.cproject

# PyCharm
/.idea

## VIM
*.swp

## Emacs 
*~
/.projectile

## SublimeText
/*.sublime-workspace
/*.sublime-project


#####=== Python ===#####
__pycache__/
*.py[cod]
*$py.class


.gdb_history


/.coverage
gmon.out
/perf.data
.ptp-sync
.ptp-sync-folder
.cache
/PAQA
/sonar-project.properties
/.checkstyle
