Hubert Degaudenzi <Hubert.Degaudenzi@unige.ch> hdegaude <hdegaude@463500fe-d6be-4184-9b20-47717e75ecac>
Florian Dubath <Florian.Dubath@unige.ch> fdubath <fdubath@balbo.isdc.unige.ch>
Pierre Dubath <Pierre.Dubath@unige.ch> pdubath <pdubath@463500fe-d6be-4184-9b20-47717e75ecac>
Mohamed Meharga <Mohamed.Meharga@unige.ch> mmeharga <mmeharga@463500fe-d6be-4184-9b20-47717e75ecac>
Nicolas Morisset <Nicolas.Morisset@unige.ch> morisset <morisset@nmsnoopy.local>
Nikolaos Apostolakos <Nikolaos.Apostolakos@unige.ch> napostok <napostok@463500fe-d6be-4184-9b20-47717e75ecac>
Pavel Binko <Pavel.Binko@unige.ch> pbinko <pbinko@463500fe-d6be-4184-9b20-47717e75ecac>